<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>StAn</title>
    <style>
        #form {
            margin: 0 0 20px 0;
        }

        #result {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
        }

        #result td, #result th {
            border: 1px solid #f2f2f2;
            padding: 8px;
        }

        #result th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #ddd;
        }

        .smallbox {
            width: 5em;
        }

        .leftcolumn {
            float: left;
            width: 50%;
        }

        .rightcolumn {
            float: left;
            width: 30%;
        }

    </style>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript">


        $(function () {

            function updateLabel(message) {
                $('#loadLabel').html(message);
            }

            function clearLabel() {
                updateLabel("")
            }

            function contentRequest(values) {
                $.post(
                    '/request/content/',
                    {
                        address: values['address'],
                        count: values['count']
                    },
                    function (data, status) {
                        if (data.status === 'Success') {
                            $('#result').html(
                                '<tr>' +
                                '<th>Project</th>' +
                                '<th>Relative similarity</th>' +
                                '</tr>'
                            );

                            for (i in data.similarity) {
                                var res = data.similarity[i];
                                $('#result tr:last').after(
                                    '<tr>' +
                                    '<td>' + '<a href="' + res.gitLink + '">' + res.project + '</a>' + '</td>' +
                                    '<td>' + res.rating + '</td>' +
                                    '</tr>'
                                );
                            }
                            clearLabel();
                        } else if (data.status === 'Failed') {
                            updateLabel(data.error);
                        } else {
                            updateLabel(data.status);
                        }
                    },
                    "json"
                );
            }

            function statusRequest(values) {
                $.post(
                    '/request/status/',
                    {
                        address: values['address'],
                        count: values['count']
                    },
                    function (data, status) {
                        if (data.status !== 'Success' && data.status !== 'Failed') {
                            updateLabel(data.status);
                            setTimeout(function () {
                                    statusRequest(values);
                                }, 3000
                            );
                        }
                    },
                    "json"
                );
            }

            $('#form').submit(function (e) {
                e.preventDefault();

                var inputs = $('#form :input');
                var values = {};
                inputs.each(function () {
                    values[this.name] = $(this).val();
                });

                if (values['address'] === '') {
                    return
                }

                $("#result tr").remove();
                clearLabel();

                contentRequest(values);
                statusRequest(values);
            });
        });

    </script>
</head>
<body>

<div class="leftcolumn">
<h3>Enter address of github repository:</h3>
<form id="form">
    <input type="text" name="address" size="50" value="{{ address }}" placeholder="GitHub address">
    <input type="number" name="count" value="10" class="smallbox" placeholder="Best matches" min="1" max="100">
    <input type="submit" value="Submit"/>
</form>

<div id="loadLabel"></div>

<table id="result"></table>
</div>

<div class="rightcolumn">
    <h3>Description:</h3>
    <p>
        Stan is a tool for detection of programmers with similar coding style based on
        <a href="https://github.com/dmlc/xgboost">XGBoost</a> model trained for authorship classification.
        For now it only supports Java.
    </p>
    <h4>How it works:</h4>
    <p>
        <ol>
            <li>You give it a link to github repository that contains .java files.</li>
            <li>Features are computed from them</li>
            <li>XGBoost model finds the most similar repository among 3000 known to it.</li>
        </ol>
    </p>
    <h4>Links:</h4>
    <p>
        Stan itself can be found  <a href="https://github.com/ml-in-programming/stan">here</a>
    </p>
    <p>
        Tool for extraction of features can be found <a href="https://github.com/ml-in-programming/coan">here</a>.
    </p>
</div>


</body>
</html>